[Unit]
Description=Netureon Network Scanner Service
After=network.target postgresql.service
Conflicts=netureon.service

[Service]
Type=oneshot
User=orangepi
Group=orangepi
WorkingDirectory=/home/orangepi/Netureon
Environment=PATH=/home/orangepi/Netureon/.venv/bin:$PATH
ExecStart=/home/orangepi/Netureon/.venv/bin/python3 /home/orangepi/Netureon/net_scan.py --scan-once
StandardOutput=append:/home/orangepi/Netureon/logs/netureon.log
StandardError=append:/home/orangepi/Netureon/logs/netureon.log

[Install]
WantedBy=multi-user.target
